* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

body,html {
    height: 100%;
    width: 100%;
    background-color: #1f1e1e;
}

.main-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header-container {
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
}

.header-container span {
    margin-left: 4vw;
    text-transform: uppercase;
}

.btn-main {
    background-color: #35a4b5;
    font-size: 0.8em;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    letter-spacing: 2px;
    margin-right: 4vw;
    width: 150px;
    height: 30px;
    border-radius: 6px;

}

.btn-main:hover {
    background-color: #1945ad;
}

.display-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-img-container {
    height: 100%;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a4747b5;

}


.right-filter-container {
    height: 100%;
    width: 30vw;
}

.footer-container {
    height: 8vh;
    width: 86vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;

}

.setting-container {
    display: flex;
    gap: 14px;
}

.setting-container div {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.footer-container div i {
    color: #35a4b5;
}

#main-img {
    display: none;
}

.image-uploader {
    height: 30%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: dotted white 5px;
    border-radius: 22px;
}

.image-uploader label {
    font-size: 2em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: gray;
}

.image-uploader label i {
    color: gray;

}

.filter-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.filter-container div {
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: #454444;
}

#img-container{
    display: none;
    height: 100%;
    width: 100%;
    background-color: red;
}

#img-main{
    height: 100%;
    width: 100%;
}

.settings{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}

.setting-pannel{
    height: 70vh;
    width: 350px;
    transform: translate(40vw, 10vh);
    background: rgba(18, 18, 18, 0.81);
    box-shadow: 0 8px 32px 0 rgba(223, 224, 247, 0.044);
    backdrop-filter: blur(2px);
    border-radius: 14px;
    padding: 20px;
}

.setting-pannel div{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.setting-pannel div label{
    text-transform:capitalize;
    color: rgb(151, 153, 154);
    font-size: 1.2em;
}

.setting-pannel div input{
    width: 200px;
}

.setting-heading{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
}

#loader{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1f1e1e;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left,#1b1a1a,transparent,#1b1a1a,transparent,#1b1a1a,#1b1a1a);
}

.main-loader{
    height: 40px;
    width: 330px;
    background-color: #2c2b2b;
    margin: auto; 
    margin-top: 50px;
    border-radius: 14px;
}

.loader{
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: #097bec;
    animation: loader 5s linear infinite;
    
} 

.loader-text-container{
    text-align: center;
}

@keyframes loader{
    0%{
        width: 5%;
    }
    10%{
        width: 10%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        widith: 40%;
    }
    50%{
        width: 50%;
    }
    60%{
        width: 60%;
    }
    70%{
        width: 70%;
    }
    80%{
        width: 80%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}